<!-- task-list component.html -->
<div class="flex justify-center pt-16">
    <div class="w-1/2 mt-7">
        <div class="flex flex-col justify-center items-center w-full">
            <div class="flex justify-between w-full">
                <button type="button"
                    class="w-32 rounded-md bg-indigo-400 hover:big-indigo-300 p-2 text-md focus:outline-none text-white font-semibold
                    mb-3"
                    [routerLink]="['/add']"
                >
            Add Task
            </button>
            </div>
            <!-- Cards -->
            <p *ngIf="!tasks"> No data</p>
            <div *ngIf="tasks" class="divide-y divide-gray-200 w-full">
                <div *ngFor="let task of tasks" role="list">
                    <app-card [task]="task" (updateClicked)="updateTask($event)"></app-card>
                </div>
            </div>
        </div>
    </div>
</div>